<div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Create Student
                    <a routerLInk="/" class="btn btn-danger float-end">back</a>
                </h4>
            </div>
            <div class="card-body">
                <div *ngIf="isLoading; else elseForm">
                    <app-spinners :title="loadingTitle" />
                </div>
                <ng-template #elseForm>
                    <form (ngSubmit)="saveStudent()">
                        <div class="mb-3">
                            <label for="name">name</label>
                            <input type="text" [(ngModel)]="name" name="name" class="form-control">
                            <span *ngIf="errors.name" class="text-danger">{{ errors.name }}</span>
                        </div>
                        <div class="mb-3">
                            <label for="course">Course</label>
                            <input type="text" [(ngModel)]="course" name="course" class="form-control">
                            <span *ngIf="errors.course" class="text-danger">{{ errors.course }}</span>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="text" [(ngModel)]="email" name="email" class="form-control">
                            <span *ngIf="errors.email" class="text-danger">{{ errors.email }}</span>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone</label>
                            <input type="text" [(ngModel)]="phone" name="phone" class="form-control">
                            <span *ngIf="errors.phone" class="text-danger">{{ errors.phone }}</span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </div>
</div>